.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-image: linear-gradient(to top, #131b24, #8e9096);
}
.icon-gradient {
  font-size: 24px;
  border-radius: 50%;
  background: gray;
  -webkit-text-fill-color: transparent;
  color: #131b24;
  box-shadow: 2px 2px 5px rgba(3, 3, 3, 0.918);
}
